**/py[cod]
.flake8
.pre-commit-config.yaml
**/__pycache__/
**/*egg-info/
train/
yolo/

# ignore log files
*.log

# ignore wheels
*.whl

# ignore archived files
*.tar
*.zip

# ignore yolo models
*.pt

# ignore yolo runs
runs/
