# ignore linting and formatting configuration file
.flake8
.pre-commit-config.yaml

# ignore cache file
**/py[cod]
**/__pycache__/
**/*egg-info/

# ignore train dataset and yolo processed dataset
train/
yolo/

# ignore log files
*.log

# ignore wheels
*.whl

# ignore archived files
*.tar
*.zip

# ignore yolo models
*.pt

# ignore notebooks
notebooks

# ignore yolo runs
runs/
